.navbar{
    background-color: #14213d!important;
    font-weight: 700!important;
    text-align: center!important;
    font-family: 'Oxanium', cursive;
    font-size: larger;
    color: white!important;
}
.navbar a{
    color: white!important;
}
.navbar a:hover{
    color: #E0EDF5!important;
    text-decoration: underline;
}
.navbar-expand-md ul{
    align-content: center!important;
}
.navbar ul{
    margin-right: 75%;
}
.navbar li{
    margin-right: 7.5%;
    color: white!important;
}
body{
    background-image: linear-gradient(#14213d,#b7094c);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}
.btn{
    background-color: #0091AD!important;
    border-style: none;
}
.btn:hover{
    background-color: #2E6F95!important;
}
.spacer{
    margin-bottom: 2%;
}
/*Home-Page*/
.section-home{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF!important;
}
h1{
    font-family: 'Major Mono Display', monospace;
}
.section-home-about h2{
    font-family: 'Iceland', monospace;
}
h2{
    font-family: 'Oxanium', cursive;
}
hr{
    border-style: dashed;
    height: 5px;
    width: 5%;
    float: left;
    background-image: linear-gradient(to right, #892B64 , #14213d);
}
.button-home{
    margin-top: 5%;
}
.services-list h2{
    font-size: xx-large;
    animation: fadeIn 0.5s ease-in both;
}
.services-list h2{
    margin-bottom: 15%!important;
    font-family: 'Iceland', cursive;
}
.services-list h2:nth-child(2) {
	animation-delay: 0.3s;
}
.services-list h2:nth-child(3) {
	animation-delay: 0.6s;
}
.services-list h2:nth-child(4) {
	animation-delay: 0.9s;
}
.services-list h2:nth-child(5) {
	animation-delay: 1.2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.section-home-about{
    margin-left: 15%;
    margin-right: 15%;
    background-color:#F2F4F8;
    font-size: x-large;
    color: #0A141F;
    padding: 2.5%;
    margin-bottom: 15%;
}
.card p{
    font-size: small;
}
.card a{
    font-size: small;
}
.card{
    padding: 2%;
    background-color: #FFFFFF;
    border: none;
}
.card:hover{
    background-color: #EEF9FC;
    cursor: pointer;
    border: none;
}
.section-about{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;  
    background-color: rgba(255, 255, 255, 0.75);
    font-size: x-large;
    color: #0A141F;
    padding: 5%;
    padding-bottom: 5%;
}
.section-contact, .section-resume{
    height: 100vh;
}
.contact-form iframe{
    color: rgba(233, 232, 232, 0.7);
    ;
}
a, button{
    cursor: pointer;
}
.col-md-4{
    margin-top: 1%;
    margin-bottom: 1%;
}
.card-img-top{
    object-fit: cover;
}
.card{
    height: 100%!important;
}
.about-img{
    max-width: 80%;
}
.img-wrapper{
    display: block;
    height: 40vh;
    width: 100%;
}
.contact-img, .resume-img{
    padding: 5%;
    max-width: 50%;
    max-height: 100%;
}