.navbar{
    background-color: #0A141F!important;
    font-weight: 700!important;
    text-align: center!important;
}
.navbar-expand-md ul{
    align-content: center!important;
}
.navbar ul{
    margin-right: 75%;
}
.navbar li{
    margin-right: 7.5%;
}
body{
    background-color: #0A141F;
}
.btn{
    background-color: #6070B8!important;
    border-style: none;
}
.btn:hover{
    background-color: #424b7a!important;
}
.spacer{
    margin-bottom: 2%;
}
/*Animated Background*/
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100vh; 
    position: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    opacity: 0.6;
    z-index: -1;
} 

/*Home-Page*/
.section-home{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: #e0e1dd!important;
}
.button-home{
    margin-top: 10%;
}
.services-list h2{
    animation: fadeIn 0.5s ease-in both;
}
.services-list h2{
    margin-bottom: 15%!important;
}
.services-list h2:nth-child(2) {
	animation-delay: 0.5s;
}
.services-list h2:nth-child(3) {
	animation-delay: 1s;
}
.services-list h2:nth-child(4) {
	animation-delay: 1.5s;
}
.services-list h2:nth-child(5) {
	animation-delay: 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.section-home-about{
    margin-left: 10%;
    margin-right: 10%;
    background-color:#F2F4F8;
    font-size: x-large;
    color: #0A141F;
    padding: 2.5%;
    margin-bottom: 15%;
}
.card p{
    font-size: small;
}
.card a{
    font-size: small;
}
.card{
    padding: 2%;
    background-color: #FFFFFF;
    border: none;
}
.card:hover{
    background-color: #D7DEEA;
    cursor: pointer;
    border: none;
}
.section-about{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F2F4F8;
    font-size: x-large;
    color: #0A141F;
    padding: 4%;
    padding-bottom: 5%;
}
.contact-form iframe{
    color: rgba(233, 232, 232, 0.7);
    ;
}
a, button{
    cursor: pointer;
}
.col-md-4{
    margin-top: 1%;
    margin-bottom: 1%;
}
.card-img-top{
    object-fit: cover;
}
.card{
    height: 100%!important;
}